<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/views/js/posts.js"></script>
  <script src="/views/js/toastr.js"></script>
  <script src="/views/js/api.js"></script>
  <link href="/views/css/main.css" rel="stylesheet" id="main-css">
  <link href="/views/css/toastr.css" rel="stylesheet" id="main-css">
</head>

<body id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="container">
          <ul class="nav nav-tabs nav-justified">
            <li class="active" id="friendsTab"><a onclick="toggleTab(1)">Friends</a></li>
            <li id="newsFeedTab"><a onclick="toggleTab(2)">Newsfeed</a></li>
            <li id="statusTab"><a onclick="toggleTab(3)">Status</a></li>
            <li id="LogoutTab"><a onclick="logout()">Logout</a></li>
          </ul>
          <br>
        </div>
        <div id="friendsForm" class="form-wrapper friends-wrapper">
          {{range .Friends}}
          <div class="form-group">
            <div class="img-wrapper">
              <img src="/views/images/user.png" class="img-class img">
            </div>
            <div class="label-text text-left">{{.FirstName}} {{.LastName}}</div>
            <div class="action-button text-right">
              {{if eq .UserType "Follower"}}
              <button class="button btn btn-success" onclick="followUser('{{.Id}}','UnFollow',event)">UnFollow</button>
              {{else}}
              <button class="button btn btn-success" onclick="followUser('{{.Id}}','Follow',event)">Follow</button>
              {{end}}
            </div>
          </div>
          {{end}}
          <div class="forgot">
          </div>

        </div>

        <div id="newsFeedForm" class="form-wrapper table-responsive">
          {{range .Posts}}
          <div class="label-text text-left">
            <strong>{{.FirstName}} {{.LastName}}</strong>
          </div>
          <div class="label-text text-left">- {{.Post}}</div>
          {{end}}
        </div>

        <div id="statusForm" class="form-wrapper">

          <div class="form-group">
            <textarea rows="2" id="status" class="form-control" placeholder="What's on your mind?"></textarea>
          </div>

          <div class="forgot">
          </div>
          <button type="submit" class="btn btn-primary" onclick="addPost()">Post</button>

        </div>


      </div>
    </div>
  </div>


</body>

</html>